@font-face {
    font-family: 'Raleway-Regular';
    src: url('../fonts/Raleway-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway-Black';
    src: url('../fonts/Raleway-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Merriweather-Regular';
    src: url('../fonts/Merriweather-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Merriweather-Black';
    src: url('../fonts/Merriweather-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  font-family: 'Raleway-Regular', 'sans-serif';
  font-size: 12px;
  margin-bottom: 70px;
}
.footer {
  position: absolute;
  bottom: 0;
  //margin-top: 3rem;
  width: 100%;
  text-align: left;
  //margin-top: 20px;
  padding-bottom: 1rem;
//  padding-top: 1rem;
}
.titlehr {
    font-size: 24px;
    font-family: "Raleway-Black";
}


body > .container {
  padding: 75px 15px 0;
}
h1, h2, h3, h4, h5, h6, .nav, .article-duration, .archive-item-link, .footer {
  font-family: 'Merriweather-Bold', sans-serif;
}

.navbar-brand {
padding: 20px;
vertical-align: baseline;;
}

.navbar-brand-img {
padding: 0;
}
@media screen and (max-width: 768px) {
    a.navbar-brand-img>img {
      vertical-align: bottom;
      padding-left: 20px;
    }
}

a.navbar-brand-img>img {
  vertical-align: bottom;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

#linkphoto {
  width: 165px;
  max-width: none;
  height: auto;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.margin-10{margin-bottom:10px; margin-right:10px;}

p {
  text-align: justify;
}

/* Responsive video? */
iframe {
  max-width: 100%;
}

/* Popover */
.modal.ng-enter {
  transition: opacity 1.5s ease-out;
  opacity: 0;
}
.modal.ng-enter.ng-enter-active {
  opacity: 1;
}
.modal.ng-leave {
  transition: opacity 1.5s ease-out;
  opacity: 1;
}
.modal.ng-leave.ng-leave-active {
  opacity: 0;
}

#Email.fieldValid {
  border: 1px solid #00ff00;
}
#Email.fieldInvalid {
  border: 1px solid #ff0000;
